# Folders
node_modules/
.next/
out/

# Files
package-lock.json
.env

# Ignore build artifacts
*.log
*.jstmp
*.tmp

# Ignore system and IDE files
.DS_Store
.idea/
.vscode/

# Ignore environment-specific files
.env.local
.env.development.local
.env.test.local
.env.production.local